<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Simple Fix</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="#">SimpleFix</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->


<!-- carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/slider1.jpg"  class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Simple Fix</h1>
          <p></p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn More</a>
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/2000/600/abstract/1" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Changes to the Grid</h1>
          <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Percentage-based sizing</h1>
          <p>With "mobile-first" there is now only one percentage-based grid.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>The Bikeman</h2>
      <p> CB2 3QJ </p>
      <strong>Door-to-door services if fixing in group.</strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>
    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Bicycle Ambulance</h2>
      <p> CB5 8AS</p>
      <strong>Offer bicycles for rent.</strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>
    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Rutland Cycles</h2>
      <p>CB5 8SL</p>
      <strong> TBC </strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>

    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Cycle King</h2>
      <p>TBC</p>
      <strong> TBC </strong>
      <p><a class="btn btn-default" href="http://www.cycleking.co.uk/servicing.php">View prices »</a></p>
    </div>
    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Lensfield Road Cycles</h2>
      <p>TBC</p>
      <strong>Same day repairs and offer bicycles for rent.</strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>
    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Cycle Smith</h2>
      <p>TBC</p>
      <strong>Door-to-door services if fixing in group.</strong>      
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>

    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Primo Cycles</h2>
      <p>TBC</p>
      <strong> TBC </strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>
    <div class="col-md-4 text-center buffer">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>The Bikeshed</h2>
      <p>TBC</p>
      <strong> TBC </strong>
      <p><a class="btn btn-default" href="#">View prices »</a></p>
    </div>   
  </div><!-- /.row -->



  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>This website will help you to fix your bicycle quicker and cheaper. <a href="http://www.bootply.com/62603">Any advice are more than welcome</a></p>
  </footer>

</div><!-- /.container -->

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>