//.extends ../layout 

//block content
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title Simple Fix
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
  link(href='/self_css/styles.css', rel='stylesheet')
  link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

  script(src = "/jquery/dist/jquery.min.js")
  script(src = "/bootstrap/dist/js/bootstrap.min.js")

  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .navbar-header
            a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') SimpleFix
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#contact') Contact
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
      // /container
    // /navbar wrapper
    //
      carousel
      ==================================================
    #myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img.img-responsive(src='/assets/slider1.jpg')
          .container
            .carousel-caption
              h1 Simple Fix
                p 
                p
                a.btn.btn-lg.btn-primary(href='#') Learn More
        .item
          img.img-responsive(src='http://lorempixel.com/2000/600/abstract/1')
          .container
            .carousel-caption
              h1 Simple Fix
                p
                p
                a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img.img-responsive(src='http://placehold.it/1500X500')
          .container
            .carousel-caption
              h1 Simple Fix
                p
                p
                a.btn.btn-large.btn-primary(href='#') Learn more
      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next
    // /.carousel
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 The Bikeman
          p  CB2 3QJ 
          strong Door-to-door services if fixing in group.
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Bicycle Ambulance
          p  CB5 8AS
          strong Offer bicycles for rent.
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Rutland Cycles
          p CB5 8SL
          strong  TBC 
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Cycle King
          p TBC
          strong  TBC 
          p
            a.btn.btn-default(href='http://www.cycleking.co.uk/servicing.php') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Lensfield Road Cycles
          p TBC
          strong Same day repairs and offer bicycles for rent.
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Cycle Smith
          p TBC
          strong Door-to-door services if fixing in group.
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 Primo Cycles
          p TBC
          strong  TBC 
          p
            a.btn.btn-default(href='#') View prices »
        .col-md-4.text-center.buffer
          img.img-circle(src='http://placehold.it/140x140')
          h2 The Bikeshed
          p TBC
          strong  TBC 
          p
            a.btn.btn-default(href='#') View prices »
      // /.row
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | This website will help you to fix your bicycle quicker and cheaper. 
          a(href='#') Any advice are more than welcome
    // /.container
    // script references
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    //script(src='/js/bootstrap.min.js')


